img{
   float: right;
   border-radius: 10px;
}
body{
   margin:20px 40px;
   background:#2b2626;
   color: #fff;
}
h1 {
   text-align: center;
}
@media (max-width: 700px){
   img{
      display: inline-block;
      height: 400px;
      width: 380px;
      
      
   }
}
